<%= render "shared/navbar"%>

<div class="box">
  <div class="box-inner">

    <%= form_with model: @user, url:user_registration_path ,class: 'registration-main', local: true do |f| %>
      <h1 class='signup-title'>SIGN UP</h1>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="box-nickname">
        <%= f.label :nickname, "Nickname" %><br />
        <%= f.text_field :nickname, class:"text-field", placeholder:"例) マッスル太郎", maxlength:"6" %>
      </div>

      <div class="box-email">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, class:"email-field", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>

      <div class="box-password">
        <div class="column-left">
          <%= f.label :password, "Password" %>
        </div>
        <%= f.password_field :password, class:"pass-field", placeholder:"6文字以上の半角英数字" %>
      </div>
      
      <div class='box-confirmation'>
        <label class="form-text">Password(確認)</label>
        <%= f.password_field :password, class:"conf-field", placeholder:"同じパスワードを入力して下さい" %>
      </div>
      
      <div class="box-signup">
        <%= f.submit "Sign up" %>
        <div class="legal-text">
          続行することで、Haijime-Mascleの
          <%= link_to "利用規約", "#" %>
          および
          <%= link_to "プライバシー規約", "#" %>
          に同意するものとみなされます。
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer"%>
