<div class='friends-wrapper'>

  <%= render "shared/navbar"%>

  <div class='friends-main'>
    <h1 class='my-name'><%= current_user.nickname %></h1>
    <div class='my-friends-data'>
      <h2><%= link_to 'フォロー数', {controller: :users,action: :follow_list,user_id: current_user.id}, class: "follow-path" %>:<%= current_user.follow_count %>　</h2>
      <h2><%= link_to 'フォロワー数', {controller: :users,action: :follower_list,user_id: current_user.id}, class: "follower-path" %>:<%= current_user.followers_count %></h2>
    </div>

    <div class='search-box'>
      <%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "ユーザー名を検索する", class: "search-input" %>
        <%= form.submit "Search", class: "search-btn" %>
      <% end %>
    </div>

    <div class='all-user'>
      <% @users.each do |user|%>
        <% if user.id != current_user.id %>
          <div class='each-user'>
            <div class='left-box'>
              <div class='user-img'>
                <%if user.image.present? %>
                  <%= image_tag user.image, class: 'friends-img' %>
                <%else %>
                  <img class='friends-img'>
                <%end %>
              </div>
              <div class='user-name'><%= user.nickname %></div>
            </div>

            <div class='rigth-box'>
              <div class="follow_form">
                <% if current_user.following? user %>
                  <button class="unfollow-btn">
                    <%= link_to "Following", {controller: :users,action: :unfollow,user_id: user.id}, method: :put, class:"unfollow"%>
                  </button>
                <% else %>
                  <button class="follow-btn">
                    <%= link_to "Follow", {controller: :users,action: :follow,user_id: user.id}, method: :put, class:"follow"%>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
