<%= render "shared/navbar" %>

<div class="user-show">
  <div class="user-box">
    <h2 class="profile">
      My Profile
    </h2>
    <div class='user-img-content'>
      <%if current_user.image.present? %>
        <%= image_tag current_user.image ,class:"user-box-img" %>
      <%else %>
        <img class='friends-img'>
      <%end %>
    </div>

    <%=link_to(edit_user_registration_path) do %>
        <button class="edit-btn" >Edit</button>
    <%end%>

    <table class="detail-table">
      <tr>
        <th class="detail-user">ニックネーム</th>
        <td class="detail-value"><%= current_user.nickname %></td>
      </tr>
      <tr>
        <th class="detail-user">フォロー数</th>
        <td class="detail-value"><%= current_user.follow_count %></td>
      </tr>
      <tr>
        <th class="detail-user">フォロワー数</th>
        <td class="detail-value"><%= current_user.followers_count %></td>
      </tr>
      <tr>
        <th class="detail-user">メールアドレス</th>
        <td class="detail-value"><%= current_user.email %></td>
      </tr>
    </table>
  </div>
</div>

  <%= render "shared/footer"%>
