<div class='main'>

  <%# 自分のデータ %>
  <div class="my-data">
    <h2 class='title'>My training data</h2>
    <% if @trainings2.present? %>
      <div class="graphs">
        <div class="each-data">
          <h4 class="theme">＜本日のトレーニング＞</h4>
          <%= column_chart @data%>
        </div>

        <div class="each-data">
          <h4 class="theme">＜１週間のトレーニングバランス＞</h4>
          <%= pie_chart @data2, colors: ["#3333cc","#cc3333","#339966","333"],donut: true%>
        </div>

        <div class="each-data">
          <h4 class="theme">＜１週間分の総回数の推移＞</h4>
          <%= line_chart @data3 ,curve: false%>
        </div>
      </div>

    <% else %>
      <div class="data-nothing">
        <h1 class="lets-train">さあ、トレーニングをしましょう！</h1>
        <%=link_to(new_training_path) do %>
          <button class="btn-secondary" >Trainnig!</button>
        <%end%>
      </div>
    <% end %>
  </div>

  <%# フレンドのデータ %>
  <div class="friends-data">
  <h2 class='title'>My friend's data</h2>

    <%if @follows != [] %> 
      <div class="graphs">
        <% @f_datas.each do |data|%>
          <div class="each-data">
            <h4 class="theme">＜１週間分の総回数の推移＞</h4>
            <% friend = @follows[@num]%>
            <div><%= friend.nickname %>さんのデータ</div>
            <% @num += 1 %>
            <%= line_chart data, curve: false %>
          </div>
        <%end%>
        <div class='space'></div>
      </div>
    <%else%>
      <div class="friends-data-nothing">
        <h1 class="lets-make">友達を登録しましょう！</h1>
        <%=link_to(users_path) do %>
          <button class="btn-secondary" >Make Friends!</button>
        <%end%>
      </div> 
      <div class='space'></div>
    <%end%>
  </div>

</div>