<div class='navbar-wrap'>
  <div class="heading">
    <%= link_to image_tag("original_logo.png", class:"logo-icon"), "/" %>
  </div>
  
  <div class="navbar">
  
    <!--pc-->
    <div class='menu-pc'>
      <ul class='nav-list'>
        <% if user_signed_in? %>
          <li><%= link_to 'MY PAGE', user_path(current_user), class: "my-page" %></li>
          <li><%= link_to 'FRIENDS', users_path, class: "friends" %></li>
          <li><%= link_to 'TRAINING', new_training_path, class: "training" %></li>
          <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "log-out" %></li>
        <%else%>
          <li><%= link_to 'LOG IN', new_user_session_path, class: "sign-in" %></li>
          <li><%= link_to 'SIGN UP', new_user_registration_path, class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>

    <!--smafo-->
    <div class='menu-smafo'>
    <input type='checkbox' id='input'>
    <label for='input'><div class='line'></div><div class='line'></div><div class='line'></div></label>
    <div class='content'>

      <ul class='links'>
        <% if user_signed_in? %>
          <li><%= link_to 'MY PAGE', user_path(current_user), class: "my-page" %></li>
          <li><%= link_to 'FRIENDS', users_path, class: "friends" %></li>
          <li><%= link_to 'TRAINING', new_training_path, class: "training" %></li>
          <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "log-out" %></li>
        <%else%>
          <li><%= link_to 'LOG IN', new_user_session_path, class: "sign-in" %></li>
          <li><%= link_to 'SIGN UP', new_user_registration_path, class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>
    </div>
  </div>
</div>
